body.dark {
    --bg-color: #262626;
    --bg-secondary-color: #131316;
    --font-color: #f5f5f5;
    --color-grey: #777;
    --color-darkGrey: #555;
    --color-lightGrey: #555;
}

body>.container {
    max-width: 720px;
}

section {
    margin: 5rem auto;
}

input,
.sortable-list {
    background-color: var(--bg-secondary-color);
}

details>summary {
    cursor: pointer;
}

input::placeholder,
input {
    color: var(--font-color);
}
